* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    /* border: 1px solid #000; */
  }

  body {
    font-family: 'Roboto', sans-serif, bold;
    background-color: #FFE9FE;
    height: 100vh;
  }

  
#mainHome{
    display: flex;
}

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100vh;
    background-color: #C0D396;
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center; 
    flex-basis: 6%;
    z-index: 9998;
    transition: width 0.3s ease;
}

.sidebar li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--sidebar-darkgreen);
  text-decoration: none;
  font-size: clamp(1vw, calc(1vw + 0.9rem), 2.5rem);
}



.sidebar ul {
    padding-top: 15%;
}

.sidebar li {
    margin: 10% 0;
}

@media screen and (width>=1921px){

    .sidebar li a{
        font-size: 2.5em;
    }

    .sidebar li{
        margin: 8% 0;
    }

}
  
  .sidebar span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
  }

  .sidebar ul li a span:hover {
    color: var(--maincolor-darkpink);
  }

  .sidebar ul li.active a {
    color: var(--maincolor-darkpink);
    cursor: default;
}

.birthdays{
    justify-self: flex-end; 
}

.about-heading,
.birthdays-heading, #venue_mobile {
    display: none;
}

  .icona {
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    transition: all 0.3s ease;
}

.icona img {
    max-width: 100%; 
    object-fit: cover; 
}

.content {
    margin-left: 5%; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    /*width: 95%;*/ 
    height: 80vh;
    flex-basis: 94%;
}



/* HOME */

#homeMobile, #homeMobile2{
    display: none;
}

.center-image {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-45%, -50%); 
}
.center-image2 {
    position: absolute;
    height: 95vh;
    top: 160%;
    left: 50%; 
    transform: translate(-45%, -50%); 
    justify-content: center;
}

/* .link-home2{
    display: flex;
    justify-content: center;
    height: 100vh;

} */

.center-image img {
    width: 550px;
    object-fit: cover; 
}

.center-image2 img{
    width: 550px;
    height: auto;
    object-fit: cover; 
}

.name-list, .name-list2 {
    position: absolute;
    top: 15%;
    left: 10%;
    text-align: left; 
    z-index: 1; 
}

.name-list2{
    top: 120%;
}

.event-info, .event-info2 {
    position: absolute;
    top: 40%;
    right: 3%;
    text-align: right; 
    z-index: 1; 
}

.event-info2{
    top: 140%;
}

.venue-mobile{
    display: none;
}

.name-list li, .name-list2 li , .event-info li, .event-info2 {
    font-weight: bold;
    color: var(--maincolor-darkpink); 
    margin: 15px 0;
}

.name-list li:nth-child(1) {
    font-size: 6.25em; 
}

.name-list2 li:nth-child(1) {
    font-size: 6.25em; 
}

.name-list li:nth-child(2) {
    font-size: 5em; 
}

.name-list2 li:nth-child(2) {
    font-size: 4em; 
}

.name-list li:nth-child(3) {
    font-size: 4.375em; 
}

.name-list2 li:nth-child(3) {
    font-size: 3.735em; 
}

.name-list li:nth-child(4) {
    font-size: 3.75em; 
}

.name-list2 li:nth-child(4) {
    font-size: 2.75em; 
}

.event-info li:nth-child(1) {
    font-size: 5.625em;
}
.event-info2 li:nth-child(1) {
    font-size: 5.625em;
}

.event-info li:nth-child(2) {
    font-size: 9.84em; 
}
.event-info2 li:nth-child(2) {
    font-size: 9.84em; 
}

.event-info li:nth-child(3) {
    font-size: 2.19em;
}
.event-info2 li:nth-child(3) {
    font-size: 2.19em;
}


/* BIRTHDAYS */

/* .upcoming-bd-tba{
        display: flex;
        justify-content: center;
        align-content: center;
        border-style: solid;
        border-color: var(--secondarycolor-lightpink);
        border-width: 0.08em;
        height: 350px;
        width: 100%;
        min-width: 850px;
        margin-top: 2%;
        font-size: 6.25em;
        transition: transform 0.5s ease-in-out;

}  */

.upcoming-bd:hover {
    transform: scale(1.05);
    transition-delay: 1s;
    transition: transform 0.5s ease-in ;
}

/* #tba{
    align-self: center;
    justify-self: center;
} */

.birthdays-pages{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
    padding: 40px;
    color: var(--maincolor-darkpink);
    position: absolute;
}

.title-bd, .title-bd-past{
    text-align: right;
    align-self: flex-end;
    margin-right: 10%;
    width: 60%;
    margin: auto;
    margin-top: 4%;
    font-size: 2.19em;
    color: var(--birthdaystitle-orange);
    font-family: roboto, sans-serif;
    font-weight: bold;
}

.title-bd-past{
    font-size: 3.5em;
}

.past-bd, .upcoming-bd{
    display: flex;
    justify-content: space-between;
    gap: 2%;
    border-style: solid;
    border-color: var(--sidebar-lightgreen);
    height: 350px;
    width: 100%;
    min-width: 850px;
    margin: auto;
    margin-top: 2%;
    border-width: 0.5em;
    transition: transform 0.5s ease-in-out;
}

.upcoming-bd {
    border-color: var(--secondarycolor-lightpink);
}

.past-bd:hover {
    transform: scale(1.05);
    transition-delay: 1s;
    transition: transform 0.5s ease-in ;
}

.poster img{
    height: 100%;
    flex-basis: 33%;
}

.lineup, .lineup-past, #lineup-past-long, .lineup-up, .lineup-up-long{
    padding-top: 0.5em ;
    display: flex;
    flex-direction: column;
    flex-basis: 33%;
    text-align: left;
    margin-bottom: auto;
    align-self: flex-start;
}

.lineup li:nth-child(1) {
    font-size: 3,125em;
    margin-bottom: 0px;
}

.lineup li:nth-child(2) {
    font-size: 2,8em;
    margin-bottom: 8px;
}

.lineup li:nth-child(3) {
    font-size: 1,87em;
    margin-bottom: 10px;
}

.lineup li:nth-child(4) {
    font-size: 1,56em;
    margin-bottom: 10px;
}

.lineup-past, #lineup-past-long, .lineup-up, .lineup-up-long a{
    color: var(--secondarycolor-lightpink);
}

.lineup-past li:nth-child(1),
.lineup-up li:nth-child(1) {
    font-size: 50px;
    margin-bottom: 0px;
}

.lineup-past li:nth-child(2),
.lineup-past li:nth-child(2) {
    font-size: 45px;
    margin-bottom: 8px;
}

.lineup-past li:nth-child(3),
.lineup-up li:nth-child(3) {
    font-size: 30px;
    margin-bottom: 10px;
}

.lineup-past li:nth-child(4),
.lineup-up li:nth-child(4) {
    font-size: 25px;
    margin-bottom: 10px;
}
.lineup-past-long a{
    color: var(--secondarycolor-lightpink);
}

#lineup-past-long li:nth-child(1) {
    font-size: 1.1em;
    margin-bottom: 0px;
}

#lineup-past-long li:nth-child(2) {
    font-size: 1em;
    margin-bottom: 8px;
}

#lineup-past-long li:nth-child(3) {
    font-size: 0.9em;
    margin-bottom: 10px;
}

#lineup-past-long li:nth-child(4) {
    font-size: 0.9em;
    margin-bottom: 10px;
}

.lineup-up-long li:nth-child(3) {
    font-size: 0.8em;
    margin-bottom: 10px;

}

.infos{
      text-align: right;
    align-self: flex-end;
    margin-right: 5%;
    margin-bottom: 3%;
    font-size: 0.7em;
}
.infos-past{
    text-align: right;
    align-self: flex-end;
    margin-right: 5%;
    margin-bottom: 3%;
    font-size: 0.7em;
}

.lineup li , .infos li{
    font-weight: bold;
    color: var(--maincolor-darkpink);
    margin: 5px 0;
}

.lineup-past li a, .infos-past li a, #lineup-past-long li a{
    font-weight: bold;
    color: var(--secondarycolor-lightpink);
    margin: 5px 0;
}

.button-see-bd {
    padding: 10px 30px;
    background-color: var(--maincolor-darkpink);
    color: var(--backgroundcolor-pink) !important;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 30px;
    display: inline-block;
}
.button-see-bd-past {
    padding: 10px 30px;
    background: var(--secondarycolor-lightpink);
    color: var(--backgroundcolor-pink) !important;
    border: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 30px;
    display: inline-block;
}
 
/*ABOUT*/
/*slider foto*/

.about-body{
    overflow-x: hidden;
    width: 100vw;
}

#about-mobile{
    display: none;
}

/* Slideshow container */
.slideshow-container {
  display: flex;
  height: 300px;
  width: auto;
  max-width: 1000px;
  position: fixed;
  margin: auto;
  z-index: -1;
}
.slideshow-container img {
    flex-shrink: 0;
    width: 100%;
    animation: slide-left 20s linear infinite;
}

@keyframes slide-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-1000%);
    }
}

.description {
    margin-top: 300px;
    width: 100%;
    text-align: left;
    padding: 20px;
    background: var(--backgroundcolor-pink);
    z-index: 9990;
}

.about-parag {
    /*font-size: 1.125em;*/
    margin-left: 120px;
    width: 85vw;
    color: var(--maincolor-darkpink);
    font-family: Georgia, 'Times New Roman', Times, serif, serif;
    font-weight: 500;
    font-size: 2.19em;
    line-height: 1.15;
}

.sec-contatti{
    background-color: var(--backgroundcolor-pink);
    width: 100vw;
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
}

.contatti{
    display: flex;
    flex-direction: column;
    gap: 73px;
    flex-wrap: wrap;
    margin-left: 140px;
    flex-basis: 40%;
}
#iconaIg{
    font-size: 3.125em;
    font-weight: 100;
    padding-right: 10px;
}

.ig_nickname{
    display: inline; 
    font-size: 3.125em;
    font-weight: 300;
}

a:link {
    color: var(--maincolor-darkpink);
    text-decoration: none;
}

a:visited {
    color: var(--maincolor-darkpink);
    text-decoration: none;
}

a:hover {
    color: var(--maincolor-darkpink);
    text-decoration: none;
}

a:active {
    color: var(--maincolor-darkpink);
    text-decoration: none;
}

.join-mailing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 30px;
    background-color: var(--maincolor-darkpink);
    color: var(--backgroundcolor-pink);
    gap: 20px;
    visibility: hidden;

}
.join-mailing h2{
    font-size: 50px;
}
.join-mailing p{
    font-size: 30px;
    font-family: gerogia, serif;

}.join-mailing hr{
    color: var(--backgroundcolor-pink);
}

input[name="email"] {
    color: var(--backgroundcolor-pink);
}

.submit-button {
    padding: 10px 20px;
    background-color: var(--backgroundcolor-pink);
    color: var(--maincolor-darkpink);
    border: none;
    font-family: Georgia, serif;
    font-size: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.submit-button:hover {
    background-color: var(--secondarycolor-lightpink);
    color: var(--backgroundcolor-pink);
}

.email-input {
    width: auto;
    font-size: 40px; 
    border: 2px solid var(--maincolor-darkpink); 
    outline: none;
    color: var(--maincolor-darkpink); 
    background-color: transparent;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.email-input:focus {
    border-color: var(--secondarycolor-lightpink);
    box-shadow: 0 0 5px var(--secondarycolor-lightpink);
}

.email-form{
    min-width: 500px;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
    margin-right: 30px;
    flex-basis: 50%;
    visibility: hidden;
}

input[type="text"], #textarea {
    width: 100%;
    height: 40%;
    font-size: 1em; 
    outline: none;
}

.form-field{
    font-size: 2,18em;
    border: none; 
    outline: none;
    color: var(--maincolor-darkpink); 
    background-color: #ffffff;
    padding: 8px;
    margin: 15px 0;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.sub-email-button{
    padding: 10px 20px;
    background: var(--maincolor-darkpink);
    color: var(--backgroundcolor-pink);
    border: none;
    font-family: Georgia, serif;
    font-size: 1,875em;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.sub-email-button:hover {
    background: var(--secondarycolor-lightpink);
    color: var(--backgroundcolor-pink);
}

/* EVENTO-UP */

.section-event{
    overflow: hidden;
}

.section-event-past, .section-event{
    width: 100vw;
}

.evento-up{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 140px;
}

.info-up{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}


.lineup-event{
    color: var(--maincolor-darkpink);
    font-size: 6vw;
    font-weight: 600;
}

.lineup-event-alldayer{
    color: var(--maincolor-darkpink);
    font-size: clamp(2.5vw, calc(8vw + 2rem), 3.4rem);
    font-weight: 600;
}
.lineup-event-6vw{
    color: var(--maincolor-darkpink);
    font-size: 6vw;
    font-weight: 600;
}


/* @media screen and (min-width: 1921px){
    .lineup-event{
        font-size: 200px;
    }
} */

.info-up-down, .info-upcoming-down{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: auto;
    margin-bottom: 30px;
}

.sec-info-up-event{
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
    text-align: right;
    width: 100%;
}

.sec-info-up-event-noPhoto{
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: right;
    width: 100%;
    padding-left: 25%;
}

.event-tickets-button{
    padding: 1.25em 1.5em;
    background-color: var(--maincolor-darkpink);
    color: var(--backgroundcolor-pink);
    border: none;
    font-family: roboto, sans-serif;
    font-size: clamp(1.8vw, calc(2vw + 0.9rem), 3.75rem);
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.event-tickets-button:hover {
    background-color: var(--secondarycolor-lightpink);
    color: var(--backgroundcolor-pink);
}

.event-tickets-button-upcoming{
    padding: 1.25em 1.5em;
    background-color: var(--maincolor-darkpink);
    color: var(--backgroundcolor-pink);
    border: none;
    font-family: roboto, sans-serif;
    font-size: clamp(1.8vw, calc(2vw + 0.9rem), 3.75rem);
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    width:auto;
}

.event-tickets-button-upcoming:hover {
    background-color: var(--secondarycolor-lightpink);
    color: var(--backgroundcolor-pink);
}

/* @media screen and (min-width: 1921px){
    .event-tickets-button{
        padding: 52px 90px;
    }
} */

.info-up-event{
    font-family: roboto, sans-serif;
    color: var(--maincolor-darkpink);
    font-size: clamp(1rem, calc(4.5vw + 1rem), 3.75rem);
    font-weight: 600;
}

.info-up-event-venue{
    font-family: roboto, sans-serif;
    color: var(--maincolor-darkpink);
    font-size: clamp(0.5vw, calc(1.0vw + 0.9rem), 3.75rem);
    font-weight: 600;
}

.anno{
    font-family: roboto, sans-serif;
    color: var(--maincolor-darkpink);
    font-size: clamp(6vw, calc(10vw + 0.9rem), 3.75rem);
    font-weight: 600
}

.poster-evento{
    margin-left: auto;
    height: 100vh;
}

.poster-evento img{
    max-height: 99vh;
    width: auto;
}

@media screen and (min-width: 1921px){
    .poster-evento img{
        height: 99.6vh;
    }
}

/*GALLERY*/

#gallery {
    margin-left: 140px;
    padding: 4em 0;
    margin: 0 auto;
    width: 50%;
}

.slider{
    overflow: hidden;
}

.slider figure{
    position: relative;
    width: 3000%;
    margin: 0;
}

.slider figure img{
    width: 0.3%;
    float: left;
}

@keyframes slideshow{

}

#gallery{
    display: none;
}

table, figure{
    display: none;
  }

.event-tickets-button{
    display: none;
}

/* Media query per schermi medi */
@media screen and (max-width: 1024px) {
    .sidebar {
        width: 100%; 
        height: 100px; 
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: row; 
        justify-content: space-between; 
        align-items: center;
    }

    .sidebar ul {
        display: flex; 
        flex-direction: row; 
    }

    .sidebar ul li {
        margin: 0 10px; 
    }

    .sidebar ul li a{
        font-size: 1em; 
        padding: 5px;
    }

    .icona {
        width: 15%; 
        height: 15%;
    }

    .sidebar ul.about,
    .sidebar ul.birthdays {
        display: none; 
    }

    .about-heading,
    .birthdays-heading {
        display: flex; 
        font-size: 1.3em; 
        margin: 0 10px; 
        text-align: center;
        color: var(--sidebar-darkgreen); 
    }
    .about-heading:hover,
    .birthdays-heading:hover {
        color: var(--maincolor-darkpink); 
    }

    /*HOME*/
    #homeDesktop, #homeDesktop2 {
        display: none;
    }

    #homeMobile, #homeMobile2{
        display: flex;
        flex-direction: column;
    }
    
    .event-info-mobile{
        display: flex;
        flex-direction: column;
        align-items: right;
        justify-content: center;
        margin-left: 0;
        padding: 1% 1% 0 1%;
        font-weight: 600;
        text-align: right;

    }

    #venue_mobile{
       display: contents;
    }

    #homeImg{
        width: 100vw;
        height: auto;
        object-fit: cover; 
        display: contents;
    }
    
    #homeImg img{
        width: 100%;
        padding: 0 10px;
        height: auto;
        object-fit: cover; 
    }

    .name-list-mobile, .name-list-mobile-lungo{
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        margin-top: 16%;
        margin-left: 0;
        padding: 0 10px 10px 10px;
        font-weight: 600;
        line-height: 3em;
    }

    .name-list-mobile-lungo{
        margin-top: 5%;
    } 


    .name-list-mobile li {
        font-size: 3em; 
    }

    .name-list-mobile li:nth-child(1) {
        font-size: 2.4em; 
    }

    .name-list-mobile li:nth-child(2) {
        font-size: 2em; 
    }

    .name-list-mobile li:nth-child(3) {
        font-size: 1.5em; 
    }

    .name-list-mobile li:nth-child(4) {
        font-size: 1em; 
    }

    .name-list-mobile-lungo li:nth-child(1) {
        font-size: 2.1em; 
    }

    .name-list-mobile-lungo li:nth-child(2) {
        font-size: 1.8em; 
    }

    .name-list-mobile-lungo li:nth-child(3) {
        font-size: 1.8em; 
    }

    .name-list-mobile-lungo li:nth-child(4) {
        font-size: 1em; 
    }

    .event-info-mobile li {
        font-size: 1.5em; 
    }

    .event-info-mobile li:nth-child(1) {
        font-size: 1.5em; 
    }

    .event-info-mobile li:nth-child(2) {
        font-size: 1.4em; 
    }

    .separazione{
        margin-top: 5%;
        background-color: #ff5159;
        height: 1px;
    }
    /* ABOUT */
    .about-body {
        overflow-x: hidden;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
    }

    #about-desktop {
        display: none;
    }

    .slideshow-container {
        height: auto;
        width: auto;
        max-width: 100vw;
        position: fixed;
        margin: auto;
        z-index: -1;
        margin-top: 11%;
        overflow-x: hidden;
    }

    .slideshow-container img {
        width: 100%;
        height: auto;
        object-fit: cover; 
    }

    .description {
        margin-top: 40%;
        width: 100%;
        text-align: left;
        padding: 20px;
        padding-left: 20px;
        margin-left: 0;
    }

    .about-parag{
        font-size: 1.3em;
        margin-left: 0;
        width: 100%;
    }

    .sec-contatti{
        background-color: var(--backgroundcolor-pink);
        width: 100vw;
        padding: 30px 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
        padding: 0 10px;
        margin: 0 auto;
    }

    .contatti{
        display: flex;
        flex-direction: column;
        gap: 73px;
        margin: 0 auto;
        width: 100%;
    }

    #ig{
        margin: 0 auto;
        margin-top: 50px;
    }

    #iconaIg{
        font-size: 1.9em;
        font-weight: 100;
        padding-right: 10px;
        padding-left: 0;
    }

    .ig_nickname{
        display: inline; 
        font-size: 1.9em;
        font-weight: 300;
    }

    .join-mailing{
        padding: 20px 30px;
        gap: 15px;
        width: 96%;
        margin: 0 auto;
    }

    .join-mailing h2{
        font-size: 1.5em;
    }

    .join-mailing p{
        font-size: 1em;
        font-family: gerogia, serif;
    }   

    .join-mailing hr{
        color: var(--backgroundcolor-pink);
    }   

    .submit-button {
        padding: 10px 20px;
        width: 100%;
        font-size: 1em;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .email-input {
        width: auto;
        font-size: 1em; 
    }   

    input[type="text"], #textarea {
        width: 100%;
        font-size: 1em; 
        outline: none;
    }

    .email-form{
        width: 90%;
        min-width: 90vw;
        max-width: 90vw;
        padding-left: 0px;
        align-items: left;
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .form-field{
        font-size: 1em;
        padding: 8px;
        margin: 0 0;
        width: 90%;
        max-width: 90vw;
    }   

    .sub-email-button{
        /*padding: 10px 15px;*/
        font-size: 1em;
        width: 94%;
        max-width: 94vw;
        min-width: 90vw;
    }

    .event-tickets-button{
        padding: 1em 1em;
        font-size: 1.5em;
    }

     /* BIRTHDAYS */

     .birthdays-pages{
        width: 100vw;
        padding: 10px;
        margin: 0 auto;
        gap: 20px;
        margin-top: 10%;
    }


    /* .upcoming-bd-tba{
        height: 200px;
        font-size: 3em;
        width: 300px;
        min-width: 300px;
    } */

    /* .upcoming-bd{
        height: 200px;
        font-size: 3em;
        padding: 100px;
    } */
 

    .title-bd, .title-bd-past {
        font-size: 1.4em;
        text-align: right;
        margin: 0 auto;
        width: 90%;
        margin-top: 20px;
      }

    .upcoming-bd, .past-bd {
        flex-direction: column;
        height: auto;
        width: 100%;
        padding: 15px;
        gap: 10px;
        border-width: 2px;
        min-width: 300px;
      }
    
      /* .upcoming-bd-tba {
        height: auto;
        font-size: 2em;
        width: 100%;
        text-align: left;
        padding: 20px;
      } */
    
      .poster img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    
      .lineup, .lineup-past, #lineup-past-long, .lineup-up, .lineup-up-long {
        font-size: 0.9em;
        text-align: left;
        padding: 10px 0;
      }

      .lineup, .lineup-past, #lineup-past-long, .lineup-up, .lineup-up-long li:nth-child(1) {
        font-size: 2.3em;
        margin-bottom: 0px;
    }
    
    .lineup, .lineup-past, #lineup-past-long, .lineup-up, .lineup-up-long li:nth-child(2) {
        font-size: 2.1em;
        margin-bottom: 8px;
    }
    
    .lineup, .lineup-past, #lineup-past-long, .lineup-up, .lineup-up-long  li:nth-child(3) {
        font-size: 1.87em;
        margin-bottom: 10px;
    }
    
    .lineup, .lineup-past, #lineup-past-long, .lineup-up, .lineup-up-long   li:nth-child(4) {
        font-size: 1,56em;
        margin-bottom: 10px;
    }
    
      .infos, .infos-past {
        font-size: 0.9em;
        text-align: center;
        margin: 10px 0;
      }
    
      .button-see-bd, .button-see-bd-past {
        font-size: 1em;
        padding: 10px 20px;
        width: 100%;
      }

      .section-event-past {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap; 
        padding: 10px; 
        gap: 20px; 
      }
    
      .poster-evento {
        width: 100vw;
      }
    
    .poster-evento img {
            width: 100%; 
            height: auto;
          }
    

    /* PAGINA EVENTO */

    .section-event{
        overflow: scroll;
    }
    
    .evento-up{
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 20px;
        margin-left: 0;
        margin: auto;
    }
    .lineup-event-6vw {
        text-align: left;
        font-size: 4em; 
        font-weight: 600;
        padding: 0;
    }

      .lineup-event-6vw li {
        font-size: 1em; 
        margin-bottom: 5px; 
      }
    
      .info-up {
        flex-direction: row; 
        justify-content: space-between; 
        align-items: flex-start; 
        gap: 10px; 
        width: 100%; 
      }

      .lineup-event-alldayer{
        font-size: 2em;
      }

      .info-up-down{
        flex-direction: column; 
        justify-content: flex-end;
        width: 100%;
        margin-top: 0;
        font-size: 1.9em;
      }

      .sec-info-up-event-noPhoto {
        width: 90%; 
        align-items: flex-end;
        text-align: right; 
        padding-left: 0;
        padding-top: 10%;
      }
    
      .sec-info-up-event-noPhoto li {
        font-size: 1em; 
        margin-bottom: 5px;
      }

      .poster-evento{
        margin: 0 auto;
        padding-top: 15%;
        width: 90vw;
        height: auto;
        padding-left: 0;
      }

      .poster-evento img{
        width: 100%;
      }

      table, figure{
        display: none;
      }
    
    .event-tickets-button{
        display: none;
    }

}

/* Media query per schermi piccoli*/

@media only screen and (max-width: 600px) {
    .sidebar { 
        height: 60px; 
    }

    .sidebar ul {
        display: flex; 
        flex-direction: row; 
    }

    .sidebar ul li {
        margin: 0 10px; 
    }

    .sidebar ul li a {
        font-size: 1em; 
        padding: 5px;
    }

    .icona {
        width: 15%; 
        height: 15%;
    }

    .sidebar ul.about,
    .sidebar ul.birthdays {
        display: none; 
    }

    .about-heading,
    .birthdays-heading {
        display: flex; 
        font-size: 1.3em; 
        margin: 0 10px; 
        text-align: center;
        color: var(--sidebar-darkgreen); 
    }
    .about-heading:hover,
    .birthdays-heading:hover {
        color: var(--maincolor-darkpink); 
    }

    
    /* HOME */

    #homeDesktop, #homeDesktop2 {
        display: none;
    }

    #homeMobile{
        display: flex;
        flex-direction: column;
    }
    
    .event-info-mobile{
        display: flex;
        flex-direction: column;
        align-items: right;
        justify-content: center;
        margin-left: 0;
        padding: 1% 1% 0 1%;
        font-weight: 600;
        text-align: right;

    }

    #venue_mobile{
       display: contents;
    }

    #homeImg{
        width: 100vw;
        height: auto;
        object-fit: cover; 
        display: contents;
    }
    
    #homeImg img{
        width: 100%;
        padding: 0 10px;
        height: auto;
        object-fit: cover; 
    }

    .name-list-mobile{
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        margin-top: 18%;
        margin-left: 0;
        padding: 0 10px 10px 10px;
        font-weight: 600;
        line-height: 2.2em;
    }

    .name-list-mobile li {
        font-size: 3em; 
    }

    .name-list-mobile li:nth-child(1) {
        font-size: 3em; 
    }

    .name-list-mobile li:nth-child(2) {
        font-size: 2em; 
    }

    .name-list-mobile li:nth-child(3) {
        font-size: 1.5em; 
    }

    .name-list-mobile li:nth-child(4) {
        font-size: 1em; 
    }

    .event-info-mobile li {
        font-size: 1.5em; 
    }

    .event-info-mobile li:nth-child(1) {
        font-size: 1.5em; 
    }

    .event-info-mobile li:nth-child(2) {
        font-size: 1.4em; 
    }

    .active {
        color: var(--maincolor-darkpink); 
    }

    /* ABOUT */
    .about-body {
        overflow-x: hidden;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
    }

    #about-desktop {
        display: none;
    }

    .slideshow-container {
        height: auto;
        width: auto;
        max-width: 100vw;
        position: fixed;
        margin: auto;
        z-index: -1;
        margin-top: 13%;
        overflow-x: hidden;
    }

    .slideshow-container img {
        width: 100%;
        height: auto;
        object-fit: cover; 
    }

    .description {
        margin-top: 150px;
        width: 100%;
        text-align: left;
        padding: 20px;
        padding-left: 20px;
        margin-left: 0;
    }

    .about-parag{
        font-size: 1.3em;
        margin-left: 0;
        width: 100%;
    }

    .sec-contatti{
        background-color: var(--backgroundcolor-pink);
        width: 100vw;
        padding: 30px 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
        padding: 0 10px;
        margin: 0 auto;
    }

    .contatti{
        display: flex;
        flex-direction: column;
        gap: 73px;
        margin: 0 auto;
        width: 100%;
    }

    #ig{
        margin: 0 auto;
        margin-top: 50px;
    }

    #iconaIg{
        font-size: 1.9em;
        font-weight: 100;
        padding-right: 10px;
        padding-left: 0;
    }

    .ig_nickname{
        display: inline; 
        font-size: 1.9em;
        font-weight: 300;
    }

    .join-mailing{
        padding: 20px 30px;
        gap: 15px;
        width: 96%;
        margin: 0 auto;
    }

    .join-mailing h2{
        font-size: 1.5em;
    }

    .join-mailing p{
        font-size: 1em;
        font-family: gerogia, serif;
    }   

    .join-mailing hr{
        color: var(--backgroundcolor-pink);
    }   

    .submit-button {
        padding: 10px 20px;
        width: 100%;
        font-size: 1em;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .email-input {
        width: auto;
        font-size: 1em; 
    }   

    input[type="text"], #textarea {
        width: 100%;
        font-size: 1em; 
        outline: none;
    }

    .email-form{
        width: 90%;
        min-width: 90vw;
        max-width: 90vw;
        padding-left: 0px;
        align-items: left;
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .form-field{
        font-size: 1em;
        padding: 8px;
        margin: 0 0;
        width: 90%;
        max-width: 90vw;
    }   

    .sub-email-button{
        /*padding: 10px 15px;*/
        font-size: 1em;
        width: 94%;
        max-width: 94vw;
        min-width: 90vw;
    }

    .event-tickets-button{
        padding: 1em 1em;
        font-size: 1.5em;
    }

    /* BIRTHDAYS */

    .birthdays-pages{
        width: 100vw;
        padding: 10px;
        margin: 0 auto;
        gap: 20px;
        margin-top: 10%;
    }
    /* .upcoming-bd-tba{
        height: 200px;
        font-size: 3em;
        width: 300px;
    } */

    /* .upcoming-bd{
        height: 200px;
        font-size: 3em;
        padding: 100px;
    } */

    .title-bd, .title-bd-past {
        font-size: 1.4em;
        text-align: right;
        margin: 0 auto;
        width: 90%;
        margin-top: 20px;
      }

    .upcoming-bd, .past-bd {
        flex-direction: column;
        height: auto;
        width: 100%;
        padding: 15px;
        gap: 10px;
        border-width: 2px;
      }
    
      /* .upcoming-bd-tba {
        height: auto;
        font-size: 2em;
        width: 100%;
        text-align: left;
        padding: 20px;
      } */
    
      .poster img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    
      .lineup, .lineup-past, .lineup-up, .lineup-up-long {
        font-size: 0.9em;
        text-align: left;
        padding: 10px 0;
      }

      .lineup, .lineup-past, .lineup-up, .lineup-up-long li:nth-child(1) {
        font-size: 2.3em;
        margin-bottom: 0px;
    }
    
    .lineup, .lineup-past, .lineup-up, .lineup-up-long li:nth-child(2) {
        font-size: 2.1em;
        margin-bottom: 8px;
    }
    
    .lineup, .lineup-up, .lineup-up-long li:nth-child(3) {
        font-size: 1,87em;
        margin-bottom: 10px;
    }
    
    .lineup, .lineup-up, .lineup-up-long li:nth-child(4) {
        font-size: 1,56em;
        margin-bottom: 10px;
    }
    
      .infos, .infos-past {
        font-size: 0.9em;
        text-align: center;
        margin: 10px 0;
      }
    
      .button-see-bd, .button-see-bd-past {
        font-size: 1em;
        padding: 10px 20px;
        width: 100%;
      }

      .section-event-past {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap; 
        padding: 10px; 
        gap: 20px; 
      }
    
      .poster-evento {
        width: 100vw;
      }
    
    .poster-evento img {
            width: 100%; 
            height: auto;
          }
    

    /* PAGINA EVENTO */

    .section-event{
        overflow: scroll;
    }

    .lineup-event{
        margin-bottom: 8%;
    }
    
    .evento-up{
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 20px;
        margin-left: 0;
        margin: auto;
    }
    .lineup-event-6vw {
        text-align: left;
        font-size: 4em; 
        font-weight: 600;
        padding-left: 0;
    }

      .lineup-event-6vw li {
        font-size: 1em; 
        margin-bottom: 5px; 
      }
    
      .info-up {
        flex-direction: row; 
        justify-content: space-between; 
        align-items: flex-start; 
        gap: 10px; 
        width: 100%; 
      }

      .lineup-event-alldayer{
        font-size: 2em;
      }

      .info-up-down{
        flex-direction: column; 
        justify-content: flex-end;
        width: 100%;
        margin-top: 0;
        font-size: 1.9em;
      }
      .info-upcoming-down{
        flex-direction: column; 
        justify-content: flex-end;
        width: 100%;
        margin-top: 0;
        font-size: 1.9em;
      }

      .sec-info-up-event {
        width: 90%; 
        align-items: flex-end;
        text-align: right; 
        padding-left: 0;
        padding-top: 10%;
      }

      .sec-info-up-event-noPhoto {
        width: 90%; 
        align-items: flex-end;
        text-align: right; 
        padding-left: 0;
        padding-top: 10%;
      }
    
      .sec-info-up-event-noPhoto li {
        font-size: 1em; 
        margin-bottom: 5px;
      }

      .poster-evento{
        margin: 0;
        align-self: left;
        padding-top: 15%;
        width: 100%;
        height: auto;
        padding-left: 0;
      }

      .poster-evento img{
        width: 100%;
        object-fit: cover;
      }

      table, figure{
        display: none;
      }
    
    .event-tickets-button{
        display: none;
    }
    .event-tickets-button-upcoming{
        width: 350px;
    }
}


:root{
    --backgroundcolor-pink: #ffe9fe;
    --maincolor-darkpink: #ff5159;
    --secondarycolor-lightpink: #FF8E93;
    --sidebar-lightgreen: #C0D396;
    --sidebar-darkgreen: #326B34;
    --birthdaystitle-orange: #FF9122;
}